.NavBar-Container {
  display: flex;
  flex-direction: column;
}

a {
  color: #000000;
  text-decoration: none;
}

.topBar {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background: #ffffff;
}

.links button {
  background: #ff5c00;
  box-shadow: 1px 4px 8px rgba(239, 88, 3, 0.2);
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  outline: none;
}

.links button a {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  font-weight: medium;
}
.bottomBar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);
  padding: 20px 0;
  background: #ffffff;
}

.link {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  align-items: center;
}

.bottomlink {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  align-items: space-between;
  margin-left: 30px;
}

.body {
  margin: 0 auto;
  width: 1600px;
  display: flex;
  background: #e5e5e5;
}

.left {
  width: 50%;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
}

.right {
  width: 50%;
  margin-right: 50px;
  padding-top: 50px;
}

.title span {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Inter';
  color: #000000;
  margin: 10px 0;
}
.subtitle span {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter';
  color: #494949;
}

.body2 {
  background-color: #222222;
  color: white;
  display: flex;
  width: 1600px;
  height: 636px;
}

.experience {
  width: 50%;
  padding-top: 64px;
  margin-left: 137px;
  height: 572px;
  overflow: hidden;
}

.experience2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 150px;
  font-family: 'Inter';
}

.customer-experience {
  font-size: 32px;
  font-weight: 700;
  font-weight: bold;
  color: #ffffff;
  margin: 10px 0;
  width: 375px;
  height: 39px;
}

.customer {
  font-size: 13px;
  font-weight: 500;
  font-weight: medium;
  color: #ffffff;
  margin: 10px 0;
  margin-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
  width: 95px;
  height: 30px;
  text-align: center;
}

.experince-story {
  height: 216px;
  width: 417px;
  font-size: 18px;
  color: #ffffff;
}

.share {
  font-size: 16px;
  font-weight: 500;
  font-weight: medium;
  color: #ffffff;
  width: 274px;
  height: 32px;
  width: 417px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.shareimg {
  width: 295px;
  height: 10.2px;
}

.body3 {
  width: 1600px;
  height: 75px;
  top: 1362px;
  background: #ffffff;
}

.body4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 200px;
  color: #474747;
  gap: 10px;
  padding: 10px;
  background: #ffffff;
  width: 80%;
  height: 1318px;
  margin: 0 auto;
  text-align: center;
}

.body4 > div {
  text-align: center;
  padding: 20px;
  font-size: 600;
}

.ellipse {
  border: 2px solid #f76707;
  background-color: #fff4e6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  /* padding: 1em; */
}

.gallery {
  margin-bottom: 70px;
}

.body5 {
  background-color: #fff8f5;
  font-family: 'Inter';
  display: flex;
  align-items: center;
  width: 1600px;
  height: 636px;
  margin: 0 auto;
  padding: 100px;
}

.vendor-experience {
  color: #242120;
  font-size: 32px;
  font-weight: 700;
  font-weight: bold;
  margin: 10px 0;
  width: 375px;
  height: 39px;
}

.vendor {
  font-size: 13px;
  font-weight: 500;
  font-weight: medium;
  color: #ff5c00;
  margin: 10px 0;
  margin-bottom: 50px;
  border: 1px solid rgba(255, 92, 0, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
  width: 95px;
  height: 30px;
  text-align: center;
}

.experince-story2 {
  height: 216px;
  width: 417px;
  font-size: 18px;
  color: #242120;
}

p .customer-name {
  font-weight: 600 !important;
}

.share2 {
  width: 295px;
  height: 10.2px;
  color: #242120;
  font-size: 16px;
  font-weight: 500;
  font-weight: medium;
  width: 274px;
  height: 32px;
  width: 417px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.experience3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 150px;
  font-family: 'Inter';
}

#vendor-img {
  width: 622px;
  height: 538px;
  margin-right: 50px;
}

.vendor-img {
  background: url(../../images/Ellipse\ 7.svg);
  background-repeat: no-repeat;
}

.footer {
  background: #25201d;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.footer2 {
  height: 370px;
}

.footer2 {
  height: 404px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
